html { height: 100% }
body {
	background: #34495E;
	font:14px/1.231 "Varela Round", sans-serif;
	width: 100%;
}

body h1 {
	color: #FFF;
	font: 28px "Lato";
}

body h2 {
	color: #FFF;
	font: 24px "Lato";
}

header {
	background: #FFF;
	padding: 1em 0;
}

header a.category {
	color: #34495E;
	margin-top: 2.5em;
	display: block;
	text-align: center;
}

.compare {
	background: #2c3e50;
	padding: 3em 0;
}

	.compare .button {
		text-transform: uppercase;
		font: inherit;
		color: #FFF;
		background: #3A9AD8;
		box-shadow: none;
		border: none;
		margin: 0;
	}

	.compare .product {
		padding: 1em;
		background: #FFF;
		color: #34495E;
		position: relative;
		display: inline-block;
		width: 200px;
		float: left;
		margin-right: 20px;
		height: 100px;
	}
		.compare .product div.drop {
			background: #F6F8F8;
			color: #34495E;
			top: -10px;
			right: -10px;
			position: absolute;
			width: 20px;
			height: 20px;
			line-height: 20px;
			text-align: center;
		}

		.compare .product div.drop:hover {
			cursor: pointer;
			background: #FFF;
		}

		.compare .product h4 {
			color: inherit;
			font: inherit;
			font-size: 16px;
		}

.compare-filtrate {
	width: 100%;
	background: #3A9AD8;
	padding: 10px 0;
}

.compare-filtrate .dropdown {
	font: 16px "Varela Round";
	background: #25BC9D;
	width: 300px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.compare-filtrate .dropdown h4 {
	font: inherit;
	display: inline-block;
	width: 230px;
	color: #FFF;
	padding: 10px 10px;
	margin: 0;
}

.compare-filtrate .dropdown .tip {
	display: inline-block;
	width: 60px;
	color: #FFF;
	padding: 10px 0;
	border-left: 1px solid #22AE91;
	text-align: center;
}

.compare-filtrate .search {
	background: #FFF;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	width: 300px;
	height: 40px;
}

.compare-filtrate .search input {
	border: none;
	background: transparent;
	box-shadow: none;
	width: 250px;
	display: inline-block;
	margin: 0;
	padding: 10px 10px;
	height: 40px
}

.compare-filtrate .search .add {
	display: inline-block;
	width: 30px;
	background: #0086C3;
	color: #FFF;
	height: 30px;
	line-height: 32px;
	text-align: center;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
}

.filters {
	width: 100%;
	background: #3A9AD8;
}

.filters.stick {
	position: fixed;
	top: 0px;
	z-index: 1000;
}

.filters-hide {
	width:100%;
	height: 100px;
	display: none;
}

	.filters h2 { color: #FFF; }

	.filters a.settings {
		background: #FFF;
		color: #3A9AD8;
		display: block;
		font-size: 40px;
		text-align: center;
	}

	.filters a {
		color: #FFF;
		display: inline-block;
		height: 100px;
		text-align: center;
		width: 100%;
		padding: 30px 0 0;
		font-size: 18px;
		-webkit-transition: 0.35s linear all;
		-moz-transition: 0.35s linear all;
		-o-transition: 0.35s linear all;
		transition: 0.35s linear all;
		background: #3A9AD8;
	}

	.filters a span.info {
		display: block;
		font-size: 13px;
		margin-top: 10px;
	}

	.filters a:hover {
		background: #FFF;
		color: #3A9AD8;
	}

	.filters img {
		margin: 8px 0;
	}

	.filters .filter {
		position:relative;
	}

#application-brief h2 {
	color: #3489C0;
	margin: 1em 0;
}
#application {
	background: #F6F8F8;
}

#right-helper {
	background: #446CB3;
}

#application-brief .data-info {
	background: #283644;
	padding: 10px 0px;
}

#application-brief .data-info .tag {
	background: url(/img/tag.png) top left no-repeat;
	color: #FFF;
	height: 34px;
	width: 232px;
	padding: 6px 10px;
	font-size: 18px;
}

#application-brief .data-info h4 {
	color: #FFF;
	font: 18px "Varela Round";
	padding: 0px 10px;
}

#application-brief .compare-list {
	overflow: auto;
}

#application-brief .compare-list > div {
	min-width: 1500px;
	overflow: hidden;
	position: relative;
}
#application-brief .compare-list .compare-item {
	width: 240px;
	text-align: center;
	float: left;
	margin: 0px 50px;
}

#application-brief .compare-list .compare-item h3 {
	color: #FFF;
	font: 18px "Varela Round";
	height: 44px;
}

#application-brief .compare-list .compare-item .bigCircle {
	background: #3A9AD8;
	border-radius:45px;
	-moz-border-radius:45px;
	-webkit-border-radius:45px;
	color: #FFF;
	height: 90px;
	width: 90px;
	margin: 0 auto;
	text-align: center;
	padding: 25px 0 0;
}

#application-brief .compare-list .compare-item .bigCircle strong {
	font-size: 18px;
	display: block;
}

#application-brief .compare-list .compare-item .bigCircle small {
	font-size: 14px;
}

#application-brief .compare-list .compare-item .circle {
	background: #3A9AD8;
	border-radius:75px;
	-moz-border-radius:75px;
	-webkit-border-radius:75px;
	color: #FFF;
	height: 80px;
	width: 80px;
	margin: 20px auto 0;
	text-align: center;
	padding: 30px 0 0;
	font-size: 18px;
}

#application-brief .compare-list .compare-item .compareButton a {

	background: #FFF;
	border-radius: 2px;
	border: 5px solid transparent;
	border-bottom: 5px solid #3A9AD8;
	padding: 10px 20px;
	color: #3A9AD8;
}

#application-brief .compare-list .compare-item .simpleq .qt {
	background: #3A9AD8;
	color: #FFF;
	padding: 10px;
	font-size: 20px;
}

#application-brief .compare-list .compare-item .simpleq .q {
	color: #FFF;
	font: 18px "Varela Round";
}

#application-brief .compare-list .compare-item .vertical-meter {
	color: #FFF;
	font: 16px "Varela Round";
}

#application-brief .compare-list .compare-item .vertical-meter .meter {
	background: #ECF0F5;
	height: 23px;
	width: 100%;
}

#application-brief .compare-list .compare-item .vertical-meter .fill {
	height: 23px;
	background: #0086C3;
}

#application-brief .compare-list .compare-item .knob {
	position: relative;
	color: #FFF;
	font: 18px "Varela Round";
}

#application-brief .compare-list .compare-item .knob .mbs {
	color: #FFF;
	font: 16px "Varela Round";
	position: absolute;
	top: 40px;
	width:100%;
	text-align: center;
	left:0px;
}

.fade-hide, .fade-show {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.fade-hide {
  opacity:1;
}
.fade-hide.fade-hide-active {
  opacity:0;
}

.fade-show {
  opacity:0;
}
.fade-show.fade-show-active {
  opacity:1;
}

.table-header {
	color: #2D3E4F;
	text-transform: uppercase;
	font-size: 16px;
	padding: 10px;
	display: block;
}

.order {
	background: #25BC9D;
	border-radius: 4px;
	color: #FFF;
	padding: 10px;
	font-size: 16px;
}

#order-hide a {
	width: 200px;
	padding: 10px;
	text-align: left;
	margin: 0;
	color: #FFF;
	font-size: 16px;
	display: block;
	border-radius: 4px;
}

#order-hide a:hover, #order-hide a.active {
	background: #25BC9D;
}

#order-hide a.reverse {
	background: #35CC77;
}
.product-item {
	background: #FFF;
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 0px;
	margin-left: 0.9375em;
	margin-right: 0.9375em;
}

	.name {
		color: #2D3E4F;
		text-transform: uppercase;
		font-size: 12px;
		font-weight: bold;
	}

	.company {
		float: left;
		background: #0086C3;
		padding: 2px 3px;
		color: #FFF;
		margin-right: 50px;
		text-transform: uppercase;
		margin-top: 5px;
		font-size: 12px;
		padding: 10px;
 		width: 100px;
 		text-align: center;
	}

	.company.green {
		background: #79CF19;
	}

	.company.red {
		background: #ED4545;
	}

	.company.orange {
		background: #FBA617;
	}

	.number {
		font-size: 18px;
		color: #425C75;
	}
	.number-description {
		font-size: 12px;
		color: #345B81;
		display: block;
	}

	.price {
		color: #425C75;
		font-size: 22px;
		font-weight: bold;
		border: 3px solid #28ABE1;
		padding: 5px;
		display: block;
		width: 100px;
		border-radius: 3px;
	}

	a.action {
		color: #425C75;
		font-size: 24px;
		text-decoration: none;
		display: inline-block;
		margin: 10px;
		-webkit-transition: 0.35s linear all;
		-moz-transition: 0.35s linear all;
		-o-transition: 0.35s linear all;
		transition: 0.35s linear all;
	}

	a.action:hover {
		color: #26B99A;
	}

	.radialNumber {
		color: #425C75;
	}
.custom-enter,
.custom-leave,
.custom-move {
  -webkit-transition: 0.35s linear all;
  -moz-transition: 0.35s linear all;
  -o-transition: 0.35s linear all;
  transition: 0.35s linear all;
  position:relative;
}

.custom-enter {
  left:-10px;
  opacity:0;
}
.custom-enter.custom-enter-active {
  left:0;
  opacity:1;
}

.custom-leave {
  left:0;
  opacity:1;
}
.custom-leave.custom-leave-active {
  left:-10px;
  opacity:0;
}

.custom-move {
  opacity:0.5;
}
.custom-move.custom-move-active {
  opacity:1;
}

.filters-theme {
	border-radius: 5px; 
	border: 1px solid #34495E;
	background: #34495E;
	color: #fff;
}

/* Use this next selector to style things like font-size and line-height: */
.filters-theme .tooltipster-content {
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 16px;
	padding: 8px 15px;
}

.ui-widget-header {
	border: 1px solid #aaaaaa;
	background: #1abc9c;
	color: #222222;
	font-weight: bold;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br, .ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl, .ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr, .ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
	border-radius: 0;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	border: 0px;
	background: #16a085;
}

.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: .8em;
	height: .8em;
	cursor: default;
}

.ui-widget-content {
	border: 0;
}
.ui-slider-horizontal .ui-slider-handle {
	top: 0em;
	margin-left: -.4em;
}

.reveal-modal {
	width: 400px;
	left: 50%;
	margin-left: -200px;
	position: fixed;
	margin-top: 5%;
}

.reveal-modal h2 {
	color: #2D3E4F;
	z-index: 10000;
}